body
{
  width: 700px;
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  padding-top: 19px;    
  background-color:#FCCA00;  
}

#container
{
  width: 700px;
  height: 1790px;
  margin-left:auto;
  margin-right:auto;
  background-color:#fff;
  padding: 1px;  
  border-radius: 8px;
}
#header
{
  width:699px;
  height:400px;
  background:url("img/IMG.jpg")  no-repeat;
  background-size:860px 400px;
  box-sizing: border-box;  
}
#header h1
{
  color:#red;
  font-size:70px;
  margin-left:30px;
  cursor: context-menu;
}
#navbar 
{
  width:699.9px;
  height:43.6px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#navbar 
{
  overflow: hidden;
  margin-top: 12px;
  background-color: #E5E7E6;
  border-radius: 8px;
}
#navbar a 
{
  float: left;
  color: black;
  text-align: center;
  line-height: normal;
  word-spacing: normal;
  letter-spacing: normal;
  padding: 2px 23.3px;
  text-decoration: none;
  font-size: 31px;
  border-radius: 5px;
}
#navbar a:hover 
{
  background-color: #505050;
  color: white;
  border-radius: 8px;
}
#navbar a.active 
{ 
  color: #FCCA00;
  border-radius: 8px;
}
#video
{
  width: 700px;
  height: 396px;
  margin-top: 18px;
  border-radius: 8px;  
}
#content
{
  width:490px;
  height:300px;
  margin-top:15px;
  float:left;
  background-color:#E5E7E6;
  padding:10px;
  border-radius: 8px;
}
#content h1
{
  font-size:20px;
  text-align: center;
  cursor: context-menu;
}
#content p
{
  font-size:16px;
  padding:0px;
  text-align: center;
  line-height: normal;
  word-spacing: normal;
  letter-spacing: normal;
  cursor: context-menu;
}
#workday
{
  width:180px;
  height:320px;
  margin-top:15px;
  float:right;
  background-color:#E5E7E6;
  border-radius: 8px;
}
#workday h4
{
  line-height: normal;
  word-spacing: normal;
  letter-spacing: normal;
  text-align: center;
  cursor: context-menu;
}
#workday p
{ 
  padding:0px;
  text-align: center;
  font-size:18px;
  line-height: normal;
  word-spacing: normal;
  letter-spacing: normal;
  cursor: context-menu;
}
#sidebar
{
  width:700px;
  height:32px;
  padding-top: 15px;
  border-radius: 8px;
  float:right;  
}
#sidebar a 
{
  font-size:15.2px;
  margin-left:9.6px;
  text-decoration:none;
  text-align: center;
  line-height: normal;
  word-spacing: normal;
  letter-spacing: normal;
}
.btn 
{
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 3.8px 17.2px;
  font-size: 10px;
  cursor: pointer;
}
.price 
{
  border-color: #4CAF50;
  color: green;
}

.price:hover 
{
  background-color: #4CAF50;
  color: white;
}
.facebook 
{
  border-color: #0778E9;
  color: #0778E9
}
.facebook:hover 
{
  background: #0778E9;
  color: white;
}
.download 
{
  border-color: #FCCA00;
  color: #FCCA00;
}
.download:hover 
{
  background: #FCCA00;
  color: white;
}
.youtube 
{
  border-color: #FE0101;
  color: #FE0101;
}
.youtube:hover 
{
  background: #FE0101;
  color: white;
}
 #slideshow-container
{
  width:699px;
  height:500px;
  float:right;
  background-size:700px 500px; 
  box-sizing: border-box;  
}
#slideshow-container p
{
  padding-top:350px;
}
 .slideshow-container 
{
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.text 
{
  color: black;
  font-size: 25px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  cursor: context-menu;
}
.dot 
{
  border: 1px solid black;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.header 
{
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}
.content 
{
  padding: 16px;
  border-radius: 8px;
}
.sticky 
{
  position: fixed;
  width: 100%;
  border-radius: 8px;
}
.sticky + .content 
{
  padding-top: 60px;
}
.active 
{
  background-color: #717171;
}
.fade 
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.2s;
  animation-name: fade;
  animation-duration: 1.2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.footer h5
{
  text-align: center;
  cursor: context-menu;
}

