    

#container
{
  font-size: 18px;
  background-color:#FCCA00;  
}  
  width: 700px;
  height: 1400px;
  margin-left:auto;
  margin-right:auto;
  background-color:#fff;
  padding: 1px;
  box-sizing: border-box;  
  border-radius: 5px;
}
#header
{
  width:699px;
  height:400px;
  background:url("img/IMG.jpg")  no-repeat;
  background-size:860px 400px;
  box-sizing: border-box;  
}
#header h1
{
  color:#000;
  font-size:70px;
  margin-left:30px;
  cursor: context-menu;
}
#navbar 
{
  width:699.9px;
  height:43.6px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#navbar 
{
  overflow: hidden;
  margin-top: 12px;
  background-color: #E5E7E6;
  border-radius: 5px;
}
#navbar a 
{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 2px 23.3px;
  text-decoration: none;
  font-size: 31px;
  border-radius: 5px;
}
#navbar a:hover 
{
  background-color: #505050;
  color: white;
  border-radius: 5px;
}
#navbar a.active 
{
  color: #FCCA00;
  border-radius: 5px;
} 
#content
{
  width:490px;
  height:300px;
  margin-top:15px;
  float:left;
	background-color:#E5E7E6;
  padding:10px;
  border-radius: 5px;
}
#content h1
{
  font-size:20px;
  text-align: center;
  cursor: context-menu;
}
#content p
{
  font-size:16px;
  padding-left:10px;
  text-align: center;
  cursor: context-menu;
}
#workday
{
  width:180px;
  height:320px;
  margin-top:15px;
  float:right;
  background-color:#E5E7E6;
  border-radius: 5px;
}
#workday h4
{
  text-align: center;
  cursor: context-menu;
}
#workday p
{
  text-align: center;
  font-size:18px;
  cursor: context-menu;
}
#sidebar
{
  width:700px;
  height:45px;
  padding-top: 23px;
  border-radius: 5px;
  float:right;  
}
#sidebar a 
{
  font-size:15.2px;
  margin-left:9.6px;
  text-decoration:none;
  text-align: center;
}
.btn 
{
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 3.8px 17.2px;
  font-size: 10px;
  cursor: pointer;
}
.price 
{
  border-color: #4CAF50;
  color: green;
}

.price:hover 
{
  background-color: #4CAF50;
  color: white;
}
.facebook 
{
  border-color: #0778E9;
  color: #0778E9
}
.facebook:hover 
{
  background: #0778E9;
  color: white;
}
.download 
{
  border-color: #FCCA00;
  color: #FCCA00;
}
.download:hover 
{
  background: #FCCA00;
  color: white;
}
.youtube 
{
  border-color: #FE0101;
  color: #FE0101;
}
.youtube:hover 
{
  background: #FE0101;
  color: white;
}
 #slideshow-container
{
  width:699px;
  height:500px;
  float:right;
  background-size:700px 500px; 
  box-sizing: border-box;  
}
#slideshow-container p
{
  padding-top:350px;
}
 .slideshow-container 
{
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.text 
{
  color: black;
  font-size: 25px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  cursor: context-menu;
}
.dot 
{
  border: 1px solid black;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.header 
{
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}
.content 
{
  padding: 16px;
  border-radius: 5px;
}
.sticky 
{
  position: fixed;
  width: 100%;
  border-radius: 5px;
}
.sticky + .content 
{
  padding-top: 60px;
}
.active 
{
  background-color: #717171;
}
.fade 
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.2s;
  animation-name: fade;
  animation-duration: 1.2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.footer h5
{
  text-align: center;
  cursor: context-menu;
}
    
    
    #rad_block_play {
	display: inline-block;
	margin-right: 10px;
	margin-left: 4px;
	padding: 12px;
	float: left;
}

#rad_play_btn {
	cursor: pointer;
	margin: 0px;
	vertical-align: middle;
	border: none;
}

#rad_select {
	font-size: 12px;
	font-family: tahoma;
	cursor: pointer;
	width: 170px;
}

#rad_stationname {
	float:left;
	width: 155px;
	overflow: hidden;
	white-space: nowrap;
}

#rad_select_main_image {
	width: 36px;
	height: 36px;
	padding: 6px 16px 6px;
	box-sizing: content-box;
}

.rad_select_small_image {
	width: 22px;
	height: 22px;
	padding: 6px;
}


#rad_dropdown {
	float:left;
	padding-top: 18px;
}

#rad_list {
	position: absolute;
	z-index: 1000;
	background-color: #2c2c2c;
	margin-top: 48px;
	margin-left: 9px;
	max-height: 210px;
	width: 170px;
	overflow: auto;
}

#rad_block_select {
	display:inline-block;
	float:left;
}

#rad_block_volume{
	display: inline-block;
	margin-right: 10px;
	margin-left: 4px;
	padding: 12px;
	float: right;
}



#rad_volume {
	position: absolute;
	z-index: 1000;
	background-color: #2c2c2c;
	padding: 14px;
	margin-top: 12px;
	margin-left: -4px;
	height: 100px;
	width: 6px;
	overflow: hidden;
	box-sizing: content-box;
}

#rad_volume_range {
	background-color: #999;
	width: 6px;
	height: 100px;
	margin: 15px 13px;
	display: table-cell;
	vertical-align: bottom;
	box-sizing: content-box;
}

#rad_volume_bar {
	background-color: #fff343;
	width: 6px;
	box-sizing: content-box;
}

#rad_block_logo {
	padding-top: 0px;
	margin-top: 12px;
	float:left;
	margin-left: 50px;
}

#rad_logo {
	border: none;
}
